html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #f688be, #ffeb69, #f67d1b);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -60px;
    top: -60px;
}
.shape:nth-child(2){
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -40px;
    bottom: -60px;

}

.hero {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5% 0;
}

#header-text {
    color: white;
}

h1 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.login-form {
    margin: 22% 0;
    width: 210px;
    height: 75%;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    overflow: auto;
    padding: 20px;
}

form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(94, 81, 81, 0.12);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 300;
}
::placeholder{
    color: #362c2c;
}
button{
    margin-top: 35px;
    width: 100%;
    background-color: #cff1a0;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 370px) {

}